@model KBSearchModel

<div class="searchbox">
    <form asp-controller="KnowledgeBase" asp-action="Search" method="GET">
        <input type="text" id="searchbox" placeholder="Search..." name="q" value="@Model.SearchString" class="search">
        <input type="submit" class="submit-search" value="Search" style="background: url(@Url.Content("~/img/magnifying_glass.png")) no-repeat">
    </form>
    <div class="links">
        <a href="javascript:void(0)" onclick="addthing('order:asc', ['order:desc'])">⇧</a>
        <a href="javascript:void(0)" onclick="addthing('order:desc', ['order:asc'])">⇩</a>
    </div>
</div>

<ul class="issues-list">
    @foreach (var infopage in @Model.FoundInfopages)
    {
        <li>
            <a asp-controller="KnowledgeBase" asp-action="ViewPage" asp-route-path="@infopage.Path">
                <div class="issue-tag">
                    [/@infopage.Path]
                    <span class="assigneetext">Author: @RenderHelpers.ShowUser(infopage.Author)</span>
                </div>
                @infopage.Name
            </a>
        </li>
    }
</ul>

@section Scripts
{
    <script>
        function addthing(thing,repl) {
            if ($("#searchbox").val().indexOf(thing) === -1) {
                for (var i = 0; i < repl.length; i++) {
                    if ($("#searchbox").val().indexOf(repl[i]) !== -1) {
                        $("#searchbox").val($("#searchbox").val().replace(repl[i],thing));
                        return;
                    }
                }
                $("#searchbox").val($("#searchbox").val() + " " + thing);
            }
            else {
                var data = $("#searchbox").val();
                data = data
                    .replace(" " + thing, "")
                    .replace(thing + " ", "")
                    .replace(thing, "");
                $("#searchbox").val(data);
            }
        }
    </script>
}