@model Infopage

@section Stylesheets 
{
    @* FIXME: Somehow do highlighting. *@
    @* <link rel="stylesheet" href="~/css/highlightstyles/default.css"> *@
}

<div class="issue-tag">/@Model.Path</div>
<div class="issue-tag">
    <div class="date">Authored by @(Model.Author == null ? "Anonymous" : Model.Author.FullName) on @DateUtils.StringDate(Model.DateOfCreation)</div>
    <div class="date">Edited on @DateUtils.StringDate(Model.DateOfEdit)</div>
</div>
<h2 class="issue-name">@Model.Name</h2>
<hr>
<div class="underpanel">
    @if (Context.UserCan("kb.talk"))
    {
        <a asp-controller="KnowledgeBase" asp-action="ViewTalk" asp-route-path="@Model.Path">talk</a>
    }
    @if (Context.UserCan("kb.view"))
    {
        <a asp-controller="KnowledgeBase" asp-action="ViewPage" asp-route-path="@Model.Path">view</a>
    }
    @if (Context.UserCan("kb.editpage.all")
     || (Context.UserCan("kb.editpage.own") && ((int?)Model.AuthorId??-1)  == Context.User.GetUserId()))
    {
        <a asp-controller="KnowledgeBase" asp-action="EditPage" asp-route-path="@Model.Path">edit</a>
    }
    @if (Context.UserCan("kb.deletepage"))
    {
        <form asp-controller="KnowledgeBase" asp-action="DeletePage" asp-route-path="@Model.Path" class="linkform">
            <input type="submit" value="delete" class="buttonlink">
        </form>
    }
    <br>
</div>
<div class="taglist">
    @if (Model.Tags.Length > 1)
    {
        @foreach (var tag in Model.Tags.Split(",", StringSplitOptions.RemoveEmptyEntries))
        {
            <span class="tag">#@tag</span>
        }
    }
</div>

<ul class="postlist">
    @foreach (var activity in Model.Activities)
    {
        <partial name="KBActivityPartial" model="activity" /> 
    }
</ul>

@section Scripts
{
    <script src="~/js/expandable.js"></script>
}